.pageNav {
    width: 100%;    
}

.pageList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.pageItem {
    border: 1px solid rgb(189, 180, 65);
    padding:1px;
    width: 1em;
    height: 20px;
    text-align: center;
    list-style: none;
    margin: 5px;
    cursor: pointer;
}

.previous {
    list-style: none;
    margin: 5px 10px 5px 0px;
    cursor: pointer;
}

.next {
    list-style: none;
    margin: 5px 0px 5px 10px;
    cursor: pointer;
}